streamlit
pandas
spacy
plotly
requests
beautifulsoup4
# This line installs the spaCy model during deployment
el_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/el_core_news_sm-3.7.0/el_core_news_sm-3.7.0.tar.gz